add2_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/add2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="add2" targetNamespace="http://www.tibco.com/add2/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/add2/" targetNamespace="http://www.tibco.com/add2/">
      <xsd:complexType name="Request">
        <xsd:sequence>
          <xsd:element name="Num1" type="xsd:int"/>
          <xsd:element name="Num2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Responce">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Add2OperationRequest">
    <wsdl:part name="Add2OperationRequest" type="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="Add2OperationResponse">
    <wsdl:part name="Add2OperationResponse" type="tns:Responce"/>
  </wsdl:message>
  <wsdl:portType name="add2">
    <wsdl:operation name="Add2Operation">
      <wsdl:input message="tns:Add2OperationRequest"/>
      <wsdl:output message="tns:Add2OperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding1" type="tns:add2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Add2Operation">
      <soap:operation soapAction="Add2Operation" style="document"/>
      <wsdl:input>
        <soap:body parts="Add2OperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="Add2OperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="add2">
    <wsdl:port binding="tns:SOAPServiceBinding1" name="add2SOAP">
      <soap:address location="http://localhost:1473/SOAPServiceBinding1/add2/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
