Addition_gen2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Addition/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Addition" targetNamespace="http://www.tibco.com/Addition/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/Addition/" targetNamespace="http://www.tibco.com/Addition/">
      <xsd:complexType name="AddReq">
        <xsd:sequence>
          <xsd:element name="Num1" type="xsd:int"/>
          <xsd:element name="Num2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddRes">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part name="NewOperationRequest" type="tns:AddReq"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="NewOperationResponse" type="tns:AddRes"/>
  </wsdl:message>
  <wsdl:portType name="Addition">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="tns:Addition">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="NewOperation" style="document"/>
      <wsdl:input>
        <soap:body parts="NewOperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="NewOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Addition">
    <wsdl:port binding="tns:SOAPServiceBinding" name="AdditionSOAP">
      <soap:address location="http://localhost:1478/SOAPServiceBinding/addition/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
