Addition_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/Add/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Add" targetNamespace="http://www.tibco.com/Add/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.tibco.com/Add/" targetNamespace="http://www.tibco.com/Add/">
      <xsd:complexType name="Request">
        <xsd:sequence>
          <xsd:element name="Num1" type="xsd:int"/>
          <xsd:element name="Num2" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Res">
        <xsd:sequence>
          <xsd:element name="Result" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddOperationRequest">
    <wsdl:part name="AddOperationRequest" type="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="AddOperationResponse">
    <wsdl:part name="AddOperationResponse" type="tns:Res"/>
  </wsdl:message>
  <wsdl:portType name="Add">
    <wsdl:operation name="AddOperation">
      <wsdl:input message="tns:AddOperationRequest"/>
      <wsdl:output message="tns:AddOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="tns:Add">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddOperation">
      <soap:operation soapAction="AddOperation" style="document"/>
      <wsdl:input>
        <soap:body parts="AddOperationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="AddOperationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Add">
    <wsdl:port binding="tns:SOAPServiceBinding" name="AddSOAP">
      <soap:address location="http://localhost:1456/SOAPServiceBinding/add/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
